* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
}

/* Navigation CSS*/
#navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 5%;
  /*border-bottom: 2px solid black;*/
}

#navBar h1 {
  width: 70%;
  font-size: 25px;
  font-weight: 400;
}

.icons img {
  width: 3.5%;
  margin: 0px 2%;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#navigation {
  display: flex;
  width: 100%;
  align-items: center;
  margin-left: 150px;
}

#navigation p {
  margin: 0px 5%;
}

.logo {
  width: 5%;
}

/*Grid CSS*/
.hero-banner {
  margin: 0px 5%;
  min-height: 500px;
  height: 70vh;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 60% 40%;
  grid-template-areas: 
  "profile profileImage";
}

#profile {
  grid-area: profile;
}

#profileImage {
  grid-area: profileImage;
  margin-top: 20px;
  width: 70%;
}

.profileArea {
  display: flex;
  align-items: center;
}

#introduction {
  font-size: 25px;
  font-weight: lighter;
  color: #929297;
}

#headline {
  margin-left: 10px;
}

#headline h2 {
  font-size: 60px;
  width: 80%;
  font-weight: 400;
  margin: 20px 0px;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 50px;
  border-radius: 12px;
  cursor: pointer;
}

/* Headline Section CSS*/
.workHeadline {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  margin: 7% 0;
}

.workHeadline h2 {
  font-size: 30px;
  font-weight: lighter;
  color: black;
  border-bottom: 1.5px solid #949497;
  padding-bottom: 10px;
}

.work-section {
  height: 101vh;
  background-color: rgb(243, 243, 243);
  width: 60%;
  margin: 7% auto;
  border-radius: 12px;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 300px 300px;
  grid-template-areas: 
  "app1 app2"
  "app3 app4";
}

.app1 {
  grid-area: app1;
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: white;
  z-index: 1;
  margin-top: 50px;
  margin-left: -50px;
  border-radius: 12px;
  border: 2px solid #e9e9eb;
  cursor: pointer;
}

.app2 {
  grid-area: app2;
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: white;
  z-index: 1;
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 12px;
  border: 2px solid #e9e9eb;
  cursor: pointer;
}

.app4 {
  grid-area: app4;
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: white;
  z-index: 1;
  margin-top: 100px;
  margin-left: 50px;
  border-radius: 12px;
  border: 2px solid #e9e9eb;
  cursor: pointer;
}

.app3 {
  grid-area: app3;
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: white;
  z-index: 1;
  margin-top: 100px;
  margin-left: -50px;
  border-radius: 12px;
  border: 2px solid #e9e9eb;
  cursor: pointer;
}


/* About Section CSS*/
.about-section {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80%;
  grid-template-areas: 
  "aboutMeImage aboutMeTexts";
  height: 70vh;
  margin: 12% 10%;
}

.aboutMeImage {
  grid-area: aboutMeImage;
  background-image: url("images/newbg.jpeg");
  background-color: rgb(243, 243, 243);
  width: 70%;
  margin-left: 10%;
  border-radius: 12px;
}

.aboutMeTexts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.aboutMeHeader {
  font-size: 37px;
  font-weight: lighter;
  margin: 4% 0px;
}

.aboutMeTexts p {
  font-size: 17px;
  color: #929297;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Footer Contact CSS*/
footer {
  padding: 15px;
  height: 120vh;
  background-color: black;
  color: #929297;
  font-size: 14px;
  font-weight: lighter;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 10% 80%;
  grid-template-areas: 
  "contact-form-h3 footerContactArea"
  "form-container footerContactArea";
}


.footerContactArea {
  grid-area: footerContactArea;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer h2 {
  font-size: 20px;
}


input[type=text], select, textarea {
width: 100%;
padding: 12px;
border: 1px solid #f2f2f2;
border-radius: 12px;
margin-top: 10px;
margin-bottom: 15px;
resize: vertical;
font-size: 11px;
background-color: rgb(244, 246, 246);
}

input[type=submit] {
background-color: black;
color: white;
border: none;
border-radius: 12px;
cursor: pointer;
padding: 15px 40px;
text-align: center;
font-size: 12px;
margin-top: 40px;
}

input[type=submit]:hover {
background-color: #949497;
color: black;
}

.form-container {
  grid-area: form-container;
  width: 75%;
  border-radius: 5px;
  background-color: white;
  padding: 3%;
  margin-left: 50px;
}

.contact-form-h3 {
  margin-top: 15px;
  font-size: 22px;
  font-weight: lighter;
  color: #929297;margin-bottom: 20px;
  margin-left: 50px;
}

/* Contact Me CSS Icons*/
.footerContactArea img {
  width: 6%;
}

.footerContactArea p {
  margin-left: 10px;
  font-weight: 500;
}

.myContact {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 50px;
}

.footerContactArea {
  margin-left: -150px;
}

